body {
  margin: 0;
  font-family: Arial, sans-serif;
  --main-color: #fff;
  --rank-color: rgb(139, 0, 0);
  --name-color: rgb(47, 79, 79);
}

.photo {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 8px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: border-radius 1s ease;
  }

  .rank {
    position: absolute;
    bottom: 50px;
    right: 20px;
    width: 32px;
    height: 32px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: var(--rank-color);
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.person {
  background-color: var(--main-color);
  transition: transform 1s ease;
  transform-origin: center;

  &:hover {
    transform: scale(1.2);
  }

  .details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .name {
      color: var(--name-color);
      font-family: Arial;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10.8px;
    }

    .extra {
      text-align: center;
      opacity: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      color: #000;
      font-family: Arial, sans-serif;
      font-size: 21.6px;
      font-weight: 400;
    }
  }

  &:hover .details .extra {
    opacity: 1;
  }

  &:hover .photo img {
    border-radius: 60px;
  }
}

.people {
  padding-left: 305px;
  padding-right: 305px;
  padding-top: 30px;
  padding-bottom: 157px;

  .wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 30px 40px;
  }

  @media (min-width: 500px) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      padding-top: 30px;
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 185px;
    }
  }

  @media (min-width: 750px) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      padding-top: 30px;
      padding-left: 160px;
      padding-right: 160px;
      padding-bottom: 155px;
    }
  }

  @media (min-width: 1000px) {
    .wrapper {
      grid-template-columns: repeat(4, 1fr);
      padding-top: 30px;
      padding-left: 65px;
      padding-right: 65px;
    }
  }

  @media (min-width: 1200px) {
    .wrapper {
      grid-template-columns: repeat(4, 1fr);
      padding-left: 88px;
      padding-right: 88px;
    }
  }
}